<div class="bookingFormContainer">
    <form [formGroup]="restaurantBooking" class="bookingForm" (ngSubmit)="searchRestaurants(restaurantBooking.value)">
      <table>
        <tr>
          <td><label>Restaurant:</label></td>
          <td><input class="formField" type="text" formControlName="restaurantName"></td>
        </tr>
        <tr>
          <td><label>Amount of people:</label></td>
          <td><input class="formField" type="number" formControlName="people"></td>
        </tr>
        <tr>
          <td><label>Date:</label></td>
          <td><input class="formField" type="date" formControlName="date"></td>
        </tr>
        <tr>
          <td><label>Time:</label></td>
          <td>
            <select formControlName="meal">
              <option value="breakfast">Breakfast</option>
              <option value="lunch">Lunch</option>
              <option value="dinner">Dinner</option>
            </select>
          </td>
        </tr>
      </table>
      <button type="submit">Search</button>
    </form>
  </div>